header {
	width: 100%;
	position: relative;
	z-index: 2;
}

.navbar {
	padding: 2rem 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hamburger {
	width: 24px;
	height: 24px;

	margin-left: auto;
}
.links {
	height: 100px;
	background-color: var(--gray-900);
	position: absolute;
	overflow: hidden;
	top: 55px;
	left: 0px;
	right: 0px;
	margin-top: 1rem;
	padding: 20px 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.links.hidden {
	display: none;
}

.links > * {
	animation: hamburgerAppear 0.3s ease;
}

.avatar img {
	width: 40px;
	height: 40px;

	border-radius: 50%;
	border: 1px solid var(--gray-100);
}

.close {
	cursor: pointer;
	background-image: url("../../src/imgs/x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.open {
	cursor: pointer;
	background-image: url("../../src/imgs/hamburger.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
