.toast-container {
	font-family: var(--font-family-1);
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: flex-start;
	gap: 10px;
	width: calc(100% - 30px);
	max-width: 300px;
	padding: 1rem 1.4rem;
	color: var(--grey-100);
	border-radius: 3px;
	background-color: var(--gray-900);
	box-shadow: 0px 0px 15px var(--gray-500);
	animation: toastIt 3000ms ease-in forwards;
}

.toast-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 0.5rem;
}

.toast-title img {
	width: 20px;
}

.toast-container p {
	font-size: 0.8rem;
}

@keyframes toastIt {
	0% {
		right: 10px;
		bottom: -100px;
	}
	25% {
		right: 10px;
		bottom: 10px;
	}
	50% {
		right: 10px;
		bottom: 10px;
	}
	100% {
		right: 10px;
		bottom: -100px;
	}
}

.successToast h3 {
	font-size: 0.95rem;
	color: var(--sucess-100);
}

.errorToast h3 {
	font-size: 0.95rem;
	color: var(--alert-100);
}
